<p class="title-text mat-display-1">Covid-19 Vaccine Availability</p>

<div *ngIf="formError" class="search-error">
  <h3>{{ formErrorMsg }}</h3>
</div>

<div class="search-container">
  <form>
    <div class="date-form-field">
    <mat-form-field appearance="standard">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="dateControl">           
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
      <mat-error *ngIf="dateControl.invalid && (dateControl.dirty || dateControl.touched)"> invalid date </mat-error>
    </mat-form-field>  
    </div>
      
    <div class="district-form-field">
    <mat-form-field appearance="standard">
      <mat-label>District</mat-label>
      <input type="text" matInput [formControl]="districtControl" [matAutocomplete]="auto">
      <mat-error *ngIf="districtControl.invalid && (districtControl.dirty || districtControl.touched)">{{ getErrorMessage(districtControl) }}</mat-error>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let district of filteredDistrictOptions | async" [value]="district">
          {{district.district_name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button (click)="updateTableByDistrict()" color="primary"><mat-icon>search</mat-icon></button>
    </div>

    <div class="pin-form-field">
    <mat-form-field appearance="standard">
      <mat-label>Pincode</mat-label>
      <input type="text" matInput [formControl]="pincodeControl">
      <mat-error *ngIf="pincodeControl.invalid && (pincodeControl.dirty)">{{ getErrorMessage(pincodeControl) }}</mat-error>
    </mat-form-field>
    <button mat-raised-button (click)="updateTableByPincode()" color="primary"><mat-icon>search</mat-icon></button>
    </div>

    <div class="age-form-field">
    <mat-button-toggle-group (change)="updateAgeRange()" [formControl]="ageRangeControl">
      <mat-button-toggle checked value="63">All</mat-button-toggle>
      <mat-button-toggle value="45">45+</mat-button-toggle>
      <mat-button-toggle value="18">18+</mat-button-toggle>
    </mat-button-toggle-group> 
    </div>

  </form>
</div>

<p class="text-content" >Last updated on: {{ lastUpdated | date:'medium' }} <span class="mat-caption">(auto updates every 1 minute) </span></p>

<div *ngIf="this.dataSource.data.length === 0" class="text-content empty-message">
  <h3>Not found! Try again later.</h3>
</div>

<mat-table #sort="matSort" matSort [dataSource]="dataSource" mat-elevation-z8>

  <ng-container matColumnDef="date">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Date </mat-header-cell>
    <mat-cell data-label="date" *matCellDef="let session"> {{session.date}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell data-label="name" *matCellDef="let session"> {{session.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="address">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Address </mat-header-cell>
    <mat-cell data-label="address" *matCellDef="let session">
      <button mat-icon-button matTooltip="This maybe inaccurate. Do verify!">
        <a href = "{{session.google_map}}"><mat-icon color="primary" inline="true">place</mat-icon></a>
      </button>
      <a href = "{{session.google_map}}">{{session.address}}</a> </mat-cell>
  </ng-container>

  <ng-container matColumnDef="pincode">
    <mat-header-cell mat-sort-header *matHeaderCellDef> PIN </mat-header-cell>
    <mat-cell data-label="pin" *matCellDef="let session"> {{session.pincode}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="fee">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Fee </mat-header-cell>
    <mat-cell data-label="fee" *matCellDef="let session"> {{session.fee}} </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="available_capacity">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Capacity </mat-header-cell>
    <mat-cell data-label="capacity" *matCellDef="let session"> {{session.available_capacity}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="min_age_limit">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Age Limit </mat-header-cell>
    <mat-cell data-label="age limit" *matCellDef="let session"> {{session.min_age_limit}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="vaccine">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Vaccine </mat-header-cell>
    <mat-cell data-label="vaccine" *matCellDef="let session"> {{session.vaccine}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>

</mat-table>
<mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<h3 class="text-content"> Next few days availability</h3>

<div *ngIf="this.weekDataSource.data.length === 0" class="text-content empty-message">
  <h3>Not found! Try again later.</h3>
</div>

<mat-table #weekSort="matSort" matSort [dataSource]="weekDataSource" mat-elevation-z8>

  <ng-container matColumnDef="session_date">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Date </mat-header-cell>
    <mat-cell data-label="date" *matCellDef="let center"> {{center.session_date}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell data-label="name" *matCellDef="let center"> {{center.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="address">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Address </mat-header-cell>
    <mat-cell data-label="address" *matCellDef="let center"> 
      <button mat-icon-button matTooltip="This maybe inaccurate. Do verify!">
        <a href = "{{center.google_map}}"><mat-icon color="primary" inline="true">place</mat-icon></a>
      </button>
      <a href = "{{center.google_map}}">{{center.address}}</a></mat-cell>
  </ng-container>

  <ng-container matColumnDef="pincode">
    <mat-header-cell mat-sort-header *matHeaderCellDef> PIN </mat-header-cell>
    <mat-cell data-label="pin" *matCellDef="let center"> {{center.pincode}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="fee_type">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Fee Type </mat-header-cell>
    <mat-cell data-label="fee type" *matCellDef="let center"> {{center.fee_type}} </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="available_capacity">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Capacity </mat-header-cell>
    <mat-cell data-label="capacity" *matCellDef="let center"> {{center.available_capacity}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="min_age_limit">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Age Limit </mat-header-cell>
    <mat-cell data-label="age limit" *matCellDef="let center"> {{center.min_age_limit}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="vaccine">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Vaccine </mat-header-cell>
    <mat-cell data-label="vaccine" *matCellDef="let center"> {{center.vaccine}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="weekColumnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: weekColumnsToDisplay"></mat-row>

</mat-table>
<mat-paginator #weekPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<div class="text-content"> How to use:
  <ul>
    <li>Slots are searchable by date and district or date and pincode. </li>
    <li>The results can be filtered by age category. For example selecting 18+ will show slots for those having minimum age limit of 18.</li>
    <li>The header on top of the table will sort the slots based on the header. For example clicking capacity will sort the slots with show lowest capacity first and clicking it again will show highest capacity first.</li>
    <li>Clicking on the address opens it in Google Maps</li>
  </ul>
</div>
<p class="mat-caption text-content" style="bottom: 0;">Note: This is just to view available vaccines and does not support booking appointments. Linked locations may not be accurate.</p>